<div>
    <form (ngSubmit)="onSubmit()" class="form-container">
      <h3 for="name">Link to build</h3 >
      <input type="text" id="name" [(ngModel)]="buildURL" name="name">
      <button type="submit">Add</button>
    </form>
</div>
<div>
    <div class="table-div">
        <button style="background-color:rgb(206, 86, 86);" (click)="deleteAll()">Clear All</button>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let build of builds">
                <td>{{build.name}}</td>
                <td class="status {{build.status.toLowerCase()}}">{{build.status}}</td>
                <td><button style="background-color:rgb(206, 86, 86);" (click)="delete(build)">Delete</button></td>
            </tr>
            </tbody>
        </table>       
    </div>
</div>